<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Call Washeasy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="font-size: 14px;">

  <!-- Services -->
  <form>
    <ion-item>
      <ion-label>
        เลือกบริการ
      </ion-label>
      <ion-select #C multiple="true" okText="ยืนยัน" cancelText="ยกเลิก" (ngModel)="place"
        (ionChange)="calculateService(C.value);" placeholder="เลือก">
        <ion-select-option *ngFor="let x of choice" value="{{x.choice_id}}">
          {{x.choice_name}}&nbsp;&nbsp;{{x.choice_price}} Baht</ion-select-option>
      </ion-select>
    </ion-item>
  </form>

  <!-- Address -->
  <ion-item ionic-button (click)="presentModal()" detail>
    <ion-label>
      <p *ngIf="dataReturned">{{dataReturned}}</p>
      <!-- สถานที่จัดส่ง : {{location_name}}
      ที่อยู่ : {{addess}}
      เบอร์โทร : {{tel}}
      รายละเอียด : {{location_detail}}
      ผู้รับ : {{acceptant_name}} -->
    </ion-label>

  </ion-item>

  <!-- <div class="ion-padding">
    <h2>Click button to open modal</h2>
  </div>

  <ion-button (click)="presentModal()">Open Modal</ion-button>
  <p *ngIf="dataReturned">{{dataReturned}}</p> -->
  <!-- /Address -->

  <!-- Total Price -->
  <form>
    <ion-item>
      จำนวนเงิน&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label
        style="color: brown;">{{place}}</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;บาท
    </ion-item>
  </form>
  <!-- /Total Price -->

  <!-- Payment -->
  <ion-item>
    <ion-label>
      <p style="margin-bottom: 5px; font-size: 16px; color: black;">วิธีการชำระเงิน</p>
      <ion-toolbar>
        <ion-segment>
          <ion-segment-button value="visa" style="width: 40%; border: 0.5px  solid #333; margin-right: 3px;">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <ion-label>บัญชี</ion-label>
          </ion-segment-button>
          <ion-segment-button value="paypal" style="width: 40%; border: 0.5px  solid #333">
            <ion-icon name="bicycle"></ion-icon>
            <ion-label>เก็บเงินปลายทาง</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-label>
  </ion-item>
  <!-- /Payment -->

</ion-content>
<!-- /Content -->

<!-- Footer  -->
<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-button expand="block">ยืนยัน</ion-button>
  </ion-toolbar>
</ion-footer>
<!-- /Footer -->