<ion-header>
  <ion-toolbar>
    <ion-title>editLocationDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">ชื่ออาคาร/คอนโด</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ถนน/ซอย</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ชั้น/ห้อง</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">เบอร์โทร</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <!-- Textarea in an item with a floating label -->
      <ion-item>
        <ion-label position="floating">รายละเอียด</ion-label>
        <ion-textarea placeholder="บอกรายละเอียดเพื่อพบคุณง่ายขึ้น"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer style="height: 15%;" class="footer_background_color">
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="medium">ยกเลิก</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="primary">ตกลง</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>