<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      เงื่อนไขบริการ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="margin-top: 5px;">
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
         
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
          <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
      </ion-card>

        
        

</ion-content>

<ion-footer style="height: 15%">
  <ion-toolbar class="ion-text-center"> 
    <form style="margin-top: 10px;">
      <!-- <p style="margin-top: -10px;">
          <ion-checkbox value="agree" style="margin-right: 5px;"></ion-checkbox>
        <label style="font-size: 12px;"> Agree with condition</label>
      </p> -->
    <p><ion-button color="medium" href="/call-wash">ยอมรับข้อตกลง</ion-button></p>
  </form>
  </ion-toolbar>
</ion-footer>

