<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      รายละเอียดการจัดส่ง
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="fixed">ชื่อสถานที่ :</ion-label>
    <ion-input [(ngModel)]="newItem.location_name" placeholder='บ้าน,ที่ทำงาน'></ion-input>
  </ion-item>

  <ion-item>
      <ion-label position="fixed">ที่อยู่ :</ion-label>
      <ion-textarea clearOnEdit="true" [(ngModel)]="newItem.address" placeholder='อาคาร ชั้นที่ ห้องที่'></ion-textarea>
    </ion-item>

  <ion-item>
    <ion-label position="fixed">เบอร์โทร :</ion-label>
    <ion-input [(ngModel)]="newItem.tel" placeholder='09xxxxxxxx'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">รายละเอียด :</ion-label>
    <ion-textarea clearOnEdit="true" [(ngModel)]="newItem.location_detail" placeholder='บอกสถานที่ หรืออาคาร เพื่อให้เราหาคุณเจอ'></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">ชื่อผู้รับ :</ion-label>
    <ion-input [(ngModel)]="newItem.receiver_name" placeholder='น้องฮิปโป'></ion-input>
  </ion-item>

  <ion-list #mylist>

    <ion-list-header>
      <ion-label>สถานที่ของฉัน</ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of items">

      <ion-item>
        <ion-label text-wrap>
          <h3>{{ item.location_name }}</h3>
          <ion-text color="secondary">
            <p>{{ item.address }}</p>
          </ion-text>
          <ion-text color="secondary">
            <p>{{ item.tel }}</p>
          </ion-text>
          <ion-text color="secondary">
            <p>{{ item.location_detail }}</p>
          </ion-text>
          <ion-text color="secondary">
            <p>{{ item.receiver_name }}</p>
          </ion-text>

          <p>{{ item.id | date:'short'}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="secondary" (click)="updateItem(item)">Update</ion-item-option>
        <ion-item-option color="danger" (click)="deleteItem(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <!-- Footer  -->
  <ion-footer>
    <ion-toolbar class="ion-text-center">
      <ion-row>
        <ion-col>
          <!-- <ion-button expand="block">บันทึก</ion-button> -->
          <ion-button expand="block" (click)="addItem()">บันทึก</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="medium" (click)="dismiss()">ยกเลิก</ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>